@{
    Layout = null;
}
@model  IEnumerable<GettingStartedWithRazorSyntax.Models.Student>
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/Site.css")
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <title>View All</title>
</head>
<body>
    <header>
        <div class="container">
            <h1 id="branding"><span class="highlight">Student</span> Management</h1>
            <nav>
                <ul>
                    <li>@Html.ActionLink("Home", "Index", "Student", new { area = "" }, new { @class = "current" })</li>
                </ul>
                <ul>
                    <li>@Html.ActionLink("About", "About", "Student")</li>
                </ul>
                <ul>
                    <li>@Html.ActionLink("Contact", "Contact", "Student")</li>
                </ul>
            </nav>
        </div>
    </header>
    <section>
        <div class="container">
            <table class="table1">
                <tr>
                    <th>@Html.DisplayNameFor(Model=>Model.Name)</th>
                    <th>@Html.DisplayNameFor(Model => Model.Age)</th>
                    <th>@Html.DisplayNameFor(Model => Model.Address)</th>
                    <th></th>
                </tr>
                @foreach(var item in Model)
                {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Age)</td>
                    <td>@Html.DisplayFor(modelItem => item.Address)</td>
                    <td>@Html.ActionLink("Edit", "Edit/" + item.Id, "Student") | @Html.ActionLink("Delete", "Delete/" + item.Id, "Student")</td>
                </tr>
                }
            </table>
        </div>
    </section>
</body>
</html>
